/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 30, 2022, 12:06:11 AM
    Author     : josemorales
*/

.site-main, .clasificado-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clasificado-mainx {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    word-break: break-word;
}

@media all and (min-width:1024px) {
  [class*=woocommerce] main.site-content article.clasificado,
  [class*=woocommerce] main.site-main article.clasificado,
  .clasificado-main div.clasificado,
  [class*=woocommerce] .clasificado-main article.clasificado{
    width: 30%!important;
    padding: 0 5.0% 0.992em 0!important;
    clear: none!important;
  }
  [class*=woocommerce] main.site-content article.clasificado:nth-child(3n),
  [class*=woocommerce] main.site-main article.clasificado:nth-child(3n),
  .clasificado-main div.clasificado:nth-child(3n),
  [class*=woocommerce] .clasificado-main article.clasificado:nth-child(3n){
    margin-right:0px!important;
	padding-right:0px!important;
  }
  [class*=woocommerce] main.site-content article.clasificado:nth-child(3n+1),
  [class*=woocommerce] main.site-content article.clasificado:nth-child(3n+1),
  div.clasificado-main div.clasificado:nth-child(3n+1),
  [class*=woocommerce] .clasificado-main article.clasificado:nth-child(3n+1){
    clear: both!important;
  }
}

h2.entry-title {
	color: #353664;
	font-size: 24px;
}

.vermas {
    padding: 10px 20px;
    display: inline-block;
    color: #FFFFFF!important;
    background-color: #353664;
    border-radius: 5px;
    margin-top: 15px;
}



[class *="wd-spacing-"] > [class *="col"] {
    margin-bottom: 20px;
    padding-right: calc(20px / 2);
    padding-left: calc(20px / 2)
}


.col-6 {
    flex: 0 0 50%;
    max-width:50%
}


@media (min-width: 769px) {
  .col-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
}

@media (min-width: 1025px) {
    .col-lg {
        flex-basis: 0%;
        flex-grow: 1;
        max-width:100%
    }
    
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width:33.333333%
    }
    
}

@media screen and (max-width: 768px) {
  .thumbnail a span.custom-lightbox img {
    max-width: 100% !important;
  }
}



@media (min-width: 1025px) {
  .grid-75 {
      float: left;
      width: 75%;
  }
  .grid-25 {
    float: left;
    width: 25%;
  }
}
.grid-parent {
    padding-left: 0;
    padding-right: 0;
}
#contentmain.site-content {
	padding-top: 0;
}
.metadate {
  padding: 10px 0;
  text-transform: capitalize;
}

img.attachment-full.size-full.wp-post-image.entered.lazyloaded {
  border: 1px solid #000;
}

.filtercat {
  margin: 20px 0;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item, .clasificadox { width: 33.33%; margin: 0; }
/* 2 columns */
.grid-item--width2 { width: 40%; }

/* clearfix */
.clasificado-mainss:after {
  content: '';
  display: block;
  clear: both;
}